<section class="about-us text-center mt-5">
  <div class="container">
    <h2>About us</h2>
    <p class="lead">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita
      nesciunt cum iure at aperiam earum in minima nostrum debitis facilis?
    </p>

    <div class="row mt-5">
        <div class="col-md-4">
            <img src="img/banner.png" height="" class="rounded-circle" width="150" alt="">
            <h4>Mohit Prasad</h4>
            <p>CEO & Founder</p>
        </div>
        <div class="col-md-4">
            <img src="img/banner.png" height="" class="rounded-circle" width="150" alt="">
            <h4>Mohit Prasad</h4>
            <p>CEO & Founder</p>
        </div>
        <div class="col-md-4">
            <img src="img/banner.png" height="" class="rounded-circle" width="150" alt="">
            <h4>Mohit Prasad</h4>
            <p>CEO & Founder</p>
        </div>
    </div>

  </div>
</section>
