<div class="card">
  <div class="card-header">Add Course</div>
  <div class="card-body">
    <form #courseForm="ngForm" (ngSubmit)="onSubmit(courseForm)">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input
          type="email"
          class="form-control"
          placeholder="Enter Title"
          id="title"
          name="title"
          #title="ngModel"
          [(ngModel)]="model.title"
        />
        @if (title.invalid && title.touched) {
        <div class="text-danger">Title is required</div>
        }
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Description</label
        >
        <textarea
          class="form-control"
          rows="3"
          placeholder="Enter Description"
          id="description"
          name="description"
          #description="ngModel"
          [(ngModel)]="model.description"
        ></textarea>
        @if (description.invalid && description.touched) {
        <div class="text-danger">Description is required</div>
        }
      </div>

      <div class="mb-3 ">
        <input
          type="file"
          id="image"
          accept="image/*"
          (change)="onFileSelect($event)"
          [multiple]="false"
          ngModel
          required
          name="image"
        />
        @if (cover) {
            <div class="image_div col-md-6" align="right">
                <img [src]="cover" alt="">
            </div>
        }

        @if(showError){
            <div class="text-danger">Image is required</div>
        }
        
      </div>

      <div class="text-center m-3">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>


<!-- <div class="row mt-3">
    @for (course of courses; track $index) {
        <div class="col-lg-4">
            <app-courses [course]="course" [isDelete]="true" (del)="deleteCourse($event)" ></app-courses>
        </div>
    }@empty {
        <div class="text-center">
            No Course Added Yet!!
        </div>
    }
</div> -->


<!-- <app-courses [courses]="courses" (del)="deleteCourse($event)" [isAdmin]="true"></app-courses> -->
<!-- <app-courses (del)="deleteCourse($event)" [isAdmin]="true"></app-courses> -->
<app-courses [isAdmin]="true"></app-courses>